*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header {
     margin-bottom: 95px;
}

.container{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header_logos{
    margin-top: 40px;
}
.header__logos__pic {
    margin-top: 40px;
    margin-bottom: 87,71px;
}
.header__logos__growbe {
    margin-top: 45px;
    margin-bottom: 82,71px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 533px;
}

.header__link__active{
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    padding-bottom: 12px;
}
.header__link{
    color: black;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    padding-bottom: 12px;
}

.main{
    padding-bottom: 162px;
}

.top__content{
    display: flex;
    justify-content: space-between;

}

.title {
    margin-bottom: 17px;
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    padding-right: 41px;
}

.text{
    margin-bottom: 52px;
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    padding-right: 41px;
}

.btn { 
    padding: 15px 36px 16px 35px;
    color: #FFF;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-weight: 600;
    background: #F25822;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 20px;
    border: 3px solid transparent;
}

.btn:hover {
    border: 3px, solid, rgba(242, 88, 34, 0.20);
    color: #888;
    background-color: #FFF;
    transition: all 0,3s;
}

.main_left, .main_right {
    width: 48%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.itm{
    padding-top: 97px;
}